<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="spring-boot-docker" packages="">
	<Appenders>
		<Console name="consoleLogger">
			<PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss} %-5p] [%t] {%c:%L}-%m%n" />
		</Console>
		<RollingFile name="rollingFile" fileName="/Users/harry/spring-boot-docker.log"
			filePattern="/Users/harry/$${date:yyyy-MM}/spring-boot-docker-%d{MM-dd-yyyy}-%i.log.gz">
			<PatternLayout>
				<Pattern>%d{yyyy-MM-dd HH:mm:ss} %p %c{1.} [%t] %m%n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy />
				<!-- 最多保留文件数 -->
				<!--<DefaultRolloverStrategy max="60"/>-->
				<SizeBasedTriggeringPolicy size="250 MB" />
			</Policies>
		</RollingFile>
	</Appenders>
	<Loggers>
		<Root level="info">
			<AppenderRef ref="consoleLogger" />
			<AppenderRef ref="rollingFile" level="info"/>
		</Root>
	</Loggers>
</Configuration>